.auth-container {
  max-width: 360px;
  width: 100%;
}

.auth-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-header img {
  width: 48px;
  margin-bottom: 0.5rem;
}

.auth-header h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.4rem;
}

.auth-header p {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.3;
}

.error {
  color: #d22;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 0.8rem;
}

.terms {
  font-size: 0.75rem;
  text-align: center;
  color: #666;
  margin-top: 1.2rem;
}

.toggle-text {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1.2rem;
}

.toggle-text a {
  color: #4C1D95;
  text-decoration: underline;
}

.link-box {
  text-align:center;
  margin-top: 1rem;
}